/*============ Globals =========*/

* {
	color: lightgrey;
	font-family: 'Roboto Slab', serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #24292E;
	box-sizing: border-box;
	margin: 0;

}

a {
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

body {
	line-height: 1;
	box-sizing: border-box;

}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
	* {
		font-size: 10px;
	}
}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
	* {
		font-size: 10px;
	}


}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
	* {
		font-size: 10px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
	* {
		font-size: 10px;
	}
	body {
		max-width: 1000px;
		box-sizing: content-box;
		;
	}
}

/*============ Globals =========*/

/*============Fontello section=========*/

.icon-home:before {
	content: '\e81f';
}

/* '' */

.icon-linkedin-squared:before {
	content: '\f30c';
	font-size: 1.2rem;
	color: #0077B5;
}

/* '' */

.icon-github-squared:before {
	content: '\f300';
	color: whitesmoke;
	font-size: 1.2rem;
}


/* '' */

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

/*============Fontello section=========*/

/*============HEADER section=========*/

header {
	/*	border: 3px solid yellow;*/
	width: 100vw;

}

header figure {

	width: 100%;
	/*	border: 3px solid blue;*/
	font-size: 2.3rem;
	color: transparent;

	display: flex;

	flex-direction: column;
	padding-bottom: 5px;
	padding-top: 5px;
}

header figure p {
	margin: 0 auto 0 10%;
	padding: 5px;
	/*	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.05);*/
	font-size: 4.3rem;
	color: transparent;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}

header figure p:nth-child(2) {
	border-bottom-color: rgba(255, 255, 255, 0.5);
	border-bottom-style: solid;

}

header nav {

	width: 100%;

}


header nav ul {
	display: flex;
	flex-wrap: wrap;

}

header nav ul li {
	margin: 0 auto 0 0;
	min-height: 4.2rem;
	padding: 10px;


}

nav ul li i:hover {
	color: aqua;
	font-style: normal;
	cursor: pointer;
}

nav ul li i {
	padding: 2px;
	padding-right: 5px;
	font-style: normal;
	font-size: 2.2rem;
	box-sizing: border-box;

	/*	background-color: transparent;*/
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
	header figure p:nth-child(1) {
		border-bottom-color: rgba(255, 255, 255, 0.5);
		border-bottom-style: solid;

	}
	header figure {
		margin-bottom: 20px;
		flex-direction: row;
		justify-content: flex-start;
	}
	header figure p {
		font-size: 3.3rem;


	}
	header figure p:nth-child(1) {

		margin: 0 0 0 10%;

	}
	header figure p:nth-child(2) {

		margin: 0 auto 0 0;

	}
	header nav ul li {
		min-height: 4.2rem;
		padding: 10px 0px;
		align-self: center;
		justify-content: center;
		border-bottom-color: rgba(255, 255, 255, 0.5);
		border-bottom-style: solid;
		border-bottom-width: normal;
	}
	header nav ul li i {
		font-size: 1.9rem;
	}

}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
	header figure p {
		font-size: 5.3rem;

	}
	header nav ul li {

		padding: 10px 20px;

	}
	header nav ul li i {
		font-size: 2.9rem;
	}
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
	header nav ul li {

		padding: 10px 15px;

	}
}

/*============HEADER section=========*/

/*============MAIN section=========*/

main {
	display: flex;
	width: 100vw;
	height: auto;
	/*	border: 3px solid green;*/
	flex-direction: column;
}

main section {

	/*	border: 3px solid aqua;*/
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	width: 100%;
	height: 20vh;
	margin-bottom: 10px;

}

main section figure {
	font-size: 1.3rem;
	margin-bottom: 5px;
}

main section article {
	flex-direction: column;
}

main section article p {
	font-size: 1rem;
}

main section article span {
	text-align: right;
	font-size: 0.7rem;
}

main section article span p {
	margin-left: 10px;
	font-size: inherit;
	display: inline;

}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}

/*============MAIN section=========*/

/*============FOTTER section=========*/

fotter {
	border: 3px solid aqua;
	text-align: center;
	width: 100vw;
	height: 20vh;
	margin-top: 10px;
	display: flex;

}

fotter section #aGithub,
fotter section #aGithub:link,
fotter section #aGithub:hover,
fotter section #aGithub:visited,
fotter section #aGithub:active {
	text-decoration: none;
}

fotter section #aGithub:hover {
	color: white;
	text-decoration: underline;
}

fotter section #alinkedin,
fotter section #alinkedin:link,
fotter section #alinkedin:hover,
fotter section #alinkedin:visited,
fotter section #alinkedin:active {
	text-decoration: none;
}

fotter section #alinkedin:hover {
	color: #0077B5;
	text-decoration: underline;
}

/*============FOTTER section=========*/

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}
