/*============ Globals =========*/

* {
	color: lightgrey;
	font-family: 'Roboto Slab', serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #24292E;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

body {
	line-height: 1;
	box-sizing: border-box;

}

/*============ Globals =========*/

/*============Fontello section=========*/

.icon-home:before {
	content: '\e81f';
}

/* '' */

.icon-linkedin-squared:before {
	content: '\f30c';
	font-size: 1.2rem;
	color: #0077B5;
}

/* '' */

.icon-github-squared:before {
	content: '\f300';
	color: whitesmoke;
	font-size: 1.2rem;
}

/* '' */

/*============Fontello section=========*/

/*============HEADER section=========*/

header {
	padding: inherit;
	position: static;
	border: 3px solid yellow;
	width: 100vw;
	height: 15vh;

}

header figure {

	position: relative;
	width: 100%;
	height: 70%;
	border: 3px solid red;
	text-align: center;
	padding-top: 10px;
	font-size: 2.3rem;
	color: transparent;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: rgba(255, 255, 255, 0.5);

}

header nav {
	position: relative;
	background: aqua;
	display: flex;
	height: auto;
	width: 100%;
	height: 30%;
	z-index: 0;
}


header nav ul {
	align-content: center;
	text-align: center;
	display: flex;
	width: 100%;
	height: 100%;
	border: 3px solid black;
	flex-direction: rov;
}

header nav ul li {
	display: inline-block;
	font-size: 0.7rem;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
	height: 100%;
	border: 3px solid aqua;


}

nav ul li i:hover {
	color: aqua;
	font-style: normal;
	cursor: pointer;
}

nav ul li i {
	font-style: normal;
	font-size: 0.9rem;
}




/*============HEADER section=========*/

/*============MAIN section=========*/

main {
	display: flex;
	width: 100vw;
	height: auto;
	border: 3px solid green;

	flex-direction: column;
}

main section {

	border: 3px solid aqua;
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	width: 100%;
	height: 20vh;
	margin-bottom: 10px;

}

main section figure {
	font-size: 1.3rem;
	margin-bottom: 5px;
}

main section article {
	flex-direction: column;
}

main section article p {
	font-size: 1rem;
}

main section article span {
	text-align: right;
	font-size: 0.7rem;
}

main section article span p {
	margin-left: 10px;
	font-size: inherit;
	display: inline;

}

/*============MAIN section=========*/

/*============FOTTER section=========*/

fotter {
	border: 3px solid aqua;
	text-align: center;
	width: 100vw;
	height: 20vh;
	margin-top: 10px;
	display: flex;

}

fotter section #aGithub,
fotter section #aGithub:link,
fotter section #aGithub:hover,
fotter section #aGithub:visited,
fotter section #aGithub:active {
	text-decoration: none;
}

fotter section #aGithub:hover {
	color: white;
	text-decoration: underline;
}

fotter section #alinkedin,
fotter section #alinkedin:link,
fotter section #alinkedin:hover,
fotter section #alinkedin:visited,
fotter section #alinkedin:active {
	text-decoration: none;
}

fotter section #alinkedin:hover {
	color: #0077B5;
	text-decoration: underline;
}

/*============FOTTER section=========*/
